# Always lock versions
save-prefix=
# Don't generate a package lock file
package-lock=false
# Don't phone home
send-metrics=false
update-notifier=false
# Don't render progress bars etc,
# and log HTTP requests made
loglevel=http
progress=false
spin=false
# Don't query for audit or show funding messages
# automatically, we'll do that manually as needed
audit=false
fund=false
